@charset "utf-8";

@import "bourbon";
@import "animations";

body {
  font-family: sans-serif;
}

.first-graphic {
  width: 100%;
  background-color: blue;
  
  img {
    margin: 0 auto;
    display: block;
  }  
}

.second-graphic {
  border: 2px solid green;
}

.box-left, .box-right {
  display: inline-block;
}

.box-left {
  text-align: left;
}

.box-right {
  text-align: right;
}

.graphic {
  margin: 90px 0;
}