---
title: Welcome to Middleman
---

<h1>Hi!</h1>
<div class="first-graphic">
  <img src="http://placehold.it/500x500">
</div>

<div class="graphic second-graphic">
  <div class="box-left">
    <img src="http://placehold.it/500x500">
  </div>
  <div class="box-right">
    <img src="http://placehold.it/500x500">
  </div>
</div>

<div class="graphic third-graphic">
  <div class="box-left">
    <img src="http://placehold.it/500x500">
  </div>
  <div class="box-right">
    <img src="http://placehold.it/500x500">
  </div>
</div>

<div class="graphic fourth-graphic">
  <div class="box-left">
    <img src="http://placehold.it/500x500">
  </div>
  <div class="box-right">
    <img src="http://placehold.it/500x500">
  </div>
</div>
