---
title: Welcome to Middleman
---

<div class="first-graphic">
  <h2>Hi!</h2>
  <img src="http://placehold.it/500x500">
</div>

<div class="graphic second-graphic">
  <h2>Hi!</h2>
  <img src="http://placehold.it/500x500">
</div>

<div class="graphic third-graphic">
  <h2>Hi!</h2>
  <img src="http://placehold.it/500x500">
</div>

<div class="graphic fourth-graphic">
  <h2>Hi!</h2>
  <img src="http://placehold.it/500x500">
</div>
